<div style="width:100%;display:table;height:100%;height:100vh;">
	<div style="width:100%;display:table-cell;text-align:center;vertical-align:middle;" >
		<%= link_to 'Play Battleship', battleship_path %>
		<%= link_to 'Play Hangman', hangman_path %>
	</div>
</div>