#page-container {
	min-width:1100px;
}
#body-container {
	padding: 2%;
	width:100%;
	margin-top:25px;
	text-align:center;
}

/*-----NEW GAME BUTTON-----*/
#new-game-button {
	background-color:white;
	color: #29506D;
	margin: 0 auto;
	margin-top:15%;
	border-radius:25px;
	padding: 20px;
	width:400px;
	font-size:3em;
	box-shadow: 4px 3px 4px black;
	text-align:center;
}
#new-game-link {
	text-decoration:none;
	width: 100%;
    height: 100%;
}
#new-game-link:hover{
	border:none;
  	outline:none;
  	text-decoration:none;
  	color:inherit;
}
#new-game-button:hover{
	width:405px;
	box-shadow: 6px 5px 6px black;
}

/* -----BOARD------*/
#board-container {
	width:500px;
	margin: 0 auto;
	display:inline-block;
	text-align:center;
	box-shadow:8px 8px 8px #03253F;
}
.board{
	background-color: #58778F;
	margin:0 auto;
	color:white;
}
.board-cell-empty {
	border:1px solid #03253F;
	width:50px;
	height:50px;
}

.board-cell-ship {
	background-color:#A7A7A7;
	border:1px solid black;
	width:50px;
	height:50px;
}



/* NEW GAME SET UP, INSTRUCTIONS AND INITIAL PIECES */

#new-game-set-up {
	margin-right:30px;
}
#instructions {
	color:white;
	vertical-align: top;
	display:inline-block;
	width:50%;
	text-align:left;
}

.pieces {
	width:95%;
	text-align:center;
	margin-left: 20px;
}

.pieces div{
	display: inline-block;
	margin: 5%;
	padding:5px;
}

.ship-cell {
	background-color:#A7A7A7;
	border: 1px solid black;
	height:30px;
	width:30px;
}

.amount {
	background-color: #738A9C;
	border: 1px solid black;
}

.selected-piece {
	border: 2px solid #03253F;
}





