#header {
	width:100%;
	height:100px;
	background-color:#03253F;
	margin: 0 auto;
	line-height: 100px;
	padding-left: 10%;
}

#battleship{
	color: #FFF;
	font-size: 3em;
}

#description{
	font-size: 1.0em;
	color: #738A9C;
}